@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
    --main-font-fam: 'Space Grotesk', sans-serif; 
    --main-font-size: 16px;
    --arrow-animation: arrowMove 1s infinite alternate;
}

* {
    font-family: var(--main-font-fam);
    font-size: var(--main-font-size);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./imgs/background.jpg");
    padding: 0;
}

.App {
    width: 95%;
    height: 100vh;
    background-color: rgba(63, 51, 81,.85);
    margin: 0 auto;
    overflow: hidden;
}

/* 
This styles the 'todate' buttons on the line graph;
Had to use !important here to override plotly's default
*/
g.button rect {
    fill: black !important;
    transition-duration: .5s;
}

g.button:hover rect {
    fill: rgba(63, 51, 81,.85) !important;
    transition-duration: .5s;
}

/*
--------------------------------------------
MEDIA QUERIES
--------------------------------------------
*/

@media screen and (max-width: 950px) {
.App {
    height: auto;
}
}



/*
---------------------------------------------
ANIMATIONS
---------------------------------------------
*/

@keyframes arrowMove {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

