@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
    --main-font-fam: 'Space Grotesk', sans-serif; 
    --main-font-size: 16px;
    --arrow-animation: arrowMove 1s infinite alternate;
}

* {
    font-family: var(--main-font-fam);
    font-size: var(--main-font-size);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./imgs/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
}

.App {
    width: 95%;
    background-color: rgba(63, 51, 81,.85);
    margin: 0 auto;
    margin-bottom: 50px;
}

/* 
This styles the 'todate' buttons on the line graph;
Had to use !important here to override plotly's default
*/
g.button rect {
    fill: black !important;
    transition-duration: .5s;
}

g.button:hover rect {
    fill: rgba(63, 51, 81,.85) !important;
    transition-duration: .5s;
}



/*
---------------------------------------------
ANIMATIONS
---------------------------------------------
*/

@keyframes arrowMove {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

/*
---------------------------------------------
SCROLLBAR
---------------------------------------------
*/
/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #3f3351 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 20px;
}

*::-webkit-scrollbar-track {
background: #000000;
}

*::-webkit-scrollbar-thumb {
background-color: #3f3351;
border-radius: 10px;
border: none;
}