@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');

:root {
    --main-font-fam: 'Space Grotesk', sans-serif; 
    --main-font-size: 16px;
    --arrow-animation: arrowMove 1s infinite alternate;
}

* {
    font-family: var(--main-font-fam);
    font-size: var(--main-font-size);
    box-sizing: border-box;
}


/*
---------------------------------------------
ANIMATIONS
---------------------------------------------
*/

@keyframes arrowMove {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

